.reduced-width { // Prevents photo box, quote text, etc. from being too wide
	@media (min-width: $desk-start) {
		width: 80%;
	}
}

// DETAIL MAIN GRID ITEM (Contains photo, video, vital stats, quotes)
#detail-main-container {
	padding: 24px;
	border-left: 1px solid $light-purple;
	@media (max-width: $desk-start) {
		padding-left: 48px;
	}
}

// Photo and Video Box
.tab {
	width: 40%;
	cursor: pointer;
	@media (min-width: $lap-start) {
		width: 25%;
	}
	@media(min-width: $desk-start) {
		width: 18%;
	}
	padding: 0.5% 2% 0% 2%;
	font-family: $meta;
	img {
		width: 25%;
		@media (max-width: $desk-start) {
			width: 15%;
		}
		min-width: 30px;
		margin-right: 8%;
		float: left;
	}
	h3 {
		color: #fff;
		margin: 8px 0px 0px 0px;
	}
}
#photo-tab {
	background: $dark-purple;
}
#video-tab {
	background: $light-purple;
	margin-left: 12px;
}
#media-container {
	background: $dark-purple;
	padding: 2.8%;
	@media (min-width: $lap-start) {
		padding: 1.8%;
	}
	img {
		width: 100%;
	}
}
#embed-container {
	display: none;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
#embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// Vital Stats
.stats-item {
    vertical-align: bottom;
	margin-bottom: 24px;
	@media (min-width: $lap-start) and (max-width: $desk-start) {
		margin-bottom: 0px;
	}
}
.stats-item:last-child {
	margin-bottom: 0px;
}
#sum {
	border-top: 1px solid $light-gray;
}

// DETAIL SIDEBAR GRID ITEM (Contains map, room size)
#detail-sidebar-container {
	padding: 24px 24px 24px 48px;
}

// Map
#small-map {
	height: 240px;
	@media (max-width: $lap-start) {
		display: none;
	}
	@media (min-width: $lap-start) and (max-width: $desk-start) {
		width: 50%;
	} 
}

// Room Size
#detail-sidebar-container img {
	width: 50%;
	margin-left: 25%;
}
