// General
.clear {clear: both;}
.float-left {float: left;}
.float-right {float: right;}
.no-padding {padding: 0em;}
.padding-top {padding-top: 24px;}
.padding-left {padding-left: 24px;}
.padded {padding: 24px 24px 24px 0px;}
.border-bottom {border-bottom: 1px solid $light-purple;}
.background-purple {background-color: $dark-purple;}
.display-desktop {
	@media (max-width: $desk-start) {
		display: none;
	}
}
.hidden-desktop {
	@media (min-width: $desk-start) {
		display: none;
	}
}
@mixin padded-grid-item {
	@media (max-width: $lap-start) {
		padding-left: 48px;
	}
}

// NBN Logo & Purple Bar
#bar {
	height: 40px;
	img {
		width: 30px;
		padding-top: 5px;
		margin-left: 5px;
		@media (max-width: $desk-start) {
			display: block;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

// Headline, Intro, Search
#header {
	position: relative;
	color: $dark-gray;
	border-bottom: 1px solid $light-purple;
	overflow: auto;
	padding: 24px;
}
#search-container {
	position: relative;
	@media (max-width: $desk-start) {
		width: 50%;
		margin: 0 25%;
	}
	@media (min-width: $desk-start) {
		position: absolute;
		right: 24px;
		bottom: 24px;
		width: 30%;
	}
	label {
		position: absolute;
		left: 8px;
		top: 2px;
		@media (max-width: $desk-start) {
			top: 18px;
		}
	}
	input {
	background: transparent;
	width: 100%;
		@media (max-width: $desk-start) {
			margin: 16px 0em;
		}
	}
}

// Filter 
#filter-container {
	padding-left: 48px;
	@media (max-width: $desk-start) {
		border-bottom: 1px solid $light-purple;
	}
	ul {
		margin: 0.5em 0em 0em 0em;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		li {
			list-style-type: none;
			line-height: 115%;
			label {
				display: inline;
			}
			@media (max-width: $desk-start) {
				margin-left: 0.5em;
			}
		}
		@media (min-width: $lap-start) and (max-width: $desk-start) {
			display: inline;
		}
		input {
			font-size: 100%;
		}
	}
}

#explore-container {
	@media (min-width: $desk-start) {
		border-left: 1px solid $light-purple;
	}
}

// Map
#map-container {
	padding-bottom: 24px;
	@media (max-width: $desk-start) {
		padding-left: 48px;
	}
}
#map {
	height: 600px;
	margin-top: 16px;
	@media (max-width: $lap-start) {
		display: none;
	}
}

// Table
#table-container {
	padding-right: 24px;
	@include padded-grid-item;
}
table {
	margin-top: 31px;
	tr {
		padding-left: 24px;
		border-bottom: 1px solid $light-purple;
	}
	tbody tr.perfect-fit {
		background-color: $green;
	}
	tbody tr.good-fit {
		background-color: $yellow;
	}
	thead tr {
		font-family: $proxima;
		background-color: $light-purple;
		color: $dark-gray;
	}
	thead tr td:first-child {
		padding-left: 1%;
	}	
}
td {
	padding: 0% 1.5% 0% 0%;
}
.dot {
	display: block;
	float: left;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	margin: 7px;
}
.dot.perfect-fit {
	background-color: $green;
}
.dot.good-fit {
	background-color: $yellow;
}
.dot.bad-fit {
	background-color: $red;
}
#legend {
	border: 1px solid $light-purple;
	overflow: auto;
	margin-bottom: 24px; 
	p {
		margin-right: 1%;
	}
}

// Teasers
#teaser-container {
	padding-left: 24px;
}
.teaser {
	@media (max-width: $lap-start) {
		margin-top: 24px;
	}
}
.teaser:first-child {
	@media (max-width: $lap-start) {
		margin-top: 0px;
	}
}

// About the Filters
#filter-exp-container {

}