{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>Housing Guide - North by Northwestern</title>
    <meta name="description" content="The 2013 North by Northwestern Freshman Housing Guide, featuring photos, videos, statistics and the opinions of current residents of Northwestern University's housing options.">
    <script type="text/javascript" src="//use.typekit.net/rwj4edd.js"></script>
	  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/chosen.jquery.min.js"></script>
    <link rel="shortcut icon" href="http://media.northbynorthwestern.com/media/img/favicon-hi.ico" />
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
    <link rel="stylesheet" href="{% get_static_prefix %}css/style.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/responsiveslides.css">
</head>
<body>
	<div id="bar" class="background-purple">
		<a href="http://northbynorthwestern.com/"><img src="{% get_static_prefix %}img/nbn-logo.png" alt="North by Northwestern"></a>
	</div>
	{% block main %}{% endblock %}
	<script type="text/javascript">
 var gaJsHost = (("https:" == document.location.protocol) ?
 "https://ssl." : "http://www.");
 document.write(unescape("%3Cscript src='" + gaJsHost +
 "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
 </script>
 <script type="text/javascript">
 try {
 var pageTracker = _gat._getTracker("UA-15143352-1");
 pageTracker._trackPageview();
 } catch(err) {}
     </script>
  <script type="text/javascript">
      $('#searchbox').change(function() {
          window.location.href = $(this).val();
      });
  </script>
</body>
