{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>Housing Guide - North by Northwestern</title>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="//use.typekit.net/rwj4edd.js"></script>
    <script type="text/javascript" src="{% static 'js/d3.v3.min.js' %}"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
<body>
	<div id="bar">
		<a href="http://northbynorthwestern.com/"><img src="{% static 'img/nbn-logo.png' %}" alt="North by Northwestern"></a>
	</div>
	{% block main %}{% endblock %}
</body>
