{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
	<div id="header">
		<div class="grid">
			<div class="grid__item one-whole desk-two-thirds float-left">
				<h1><span class="smaller">The </span>Housing Guide</h1>
			</div><!--
		 --><div class="grid__item one-whole desk-one-third no-padding">
				<div id="search-container">
					<label for="searchbox"><span class="delta">Search</span><span class="epsilon"> by dorm name</span></label>
					<input id="searchbox" type="text" data-provide="typeahead" autocomplete="off">
				</div>
			</div>
		</div>
	</div>

	<div class="grid">
		<div id="detail-main-container" class="grid__item one-whole desk-three-quarters float-right">
			<div>
				<h2>{{ dorm.name }}</h2>
        <h3>{{ dorm.address }}</h3>
				<p class="body-text reduced-width padding-top">{{ dorm.blurb }}</p>
			</div>
			<div class="padding-top">
        <div id="photo-tab" class="tab float-left" >
					<img src="{% static 'img/photo-icon.png' %}">
					<h3>Photo</h3>
				</div>

				<div id="video-tab" class="tab float-left">
          <img src="{% static 'img/video-icon.png' %}">
					<h3>Video</h3>
				</div>
				<div id="media-container" class="clear reduced-width">
          <div class="rslides_container">
          <ul class="rslides">
              {% for image in dorm.get_slideshow %}
                  <li class="image">
                      <img src="{{ image.image.url}}">
                      {% if image.caption %}
                          <span class="image-caption">{{ image.caption }}</span>
                      {% endif %}
                  </li>
              {% endfor %}
          </ul>
          </div>
					<div id="embed-container">
          </div>
				</div>

        <h3 class="padding-top hidden-desktop">Vital stats</h3>
        <div class="grid padding-top hidden-desktop">
          <div class="grid__item one-whole lap-one-third stats-item">
            <p class="body-text">South campus</p>
            <p class="body-text"><span class="number">{{ dorm.dist_to_tech|floatformat }}</span> minute walk to Tech</p>
            <p class="body-text"><span class="number">{{ dorm.dist_to_norris|floatformat }}</span> minute walk to Norris</p>
            <p class="body-text"><span class="number">{{ dorm.dist_to_kresge|floatformat }}</span> minute walk to Kresge</p>
            <p class="body-text"><span class="number">{{ dorm.dist_to_bk|floatformat }}</span> minute walk to Burger King</p>
          </div><!--
         --><div class="grid__item one-whole lap-one-third stats-item">
            <p class="body-text"><span class="number">{{ dorm.doubles }}</span> doubles</p>
            <p class="body-text">+ <span class="number">{{ dorm.singles }}</span> singles</p>
            <p class="body-text">+ <span class="number">{{ dorm.triples }}</span> triples</p>
            <p id="sum" class="body-text"><span class="number">115</span> residents</p>
          </div><!--
         --><div class="grid__item one-whole lap-one-third stats-item">
            <p class="body-text">No A.C.</p>
            <p class="body-text">Closest dining hall: Hinman
            <p class="body-text">Residential college</p>
            <p class="body-text">Room size: 14'6" by 11'7"</p>
            <p class="body-text">$<span class="number">2642</span> per quarter</p>
          </div>
        </div>

				<div class="padding-top reduced-width">
					<h3>What residents say</h3>
          {% for quote in dorm.get_quotes %}
  					<p class="body-text quote padding-top">&ldquo;{{ quote.text }}&rdquo;</p>
            <p class="quote-attr">{{ quote.source }}</p>
          {% endfor %}


					<!-- <p class="body-text quote">&ldquo;Most in the dorm are RTVF or journalism majors, which makes it very nice for those people, but other majors are not left out either. CRC has a lot of very cool traditions.&rdquo;</p>
          <p class="quote-attr">Hilary Fung, Medill senior</p>

					<p class="body-text quote">&ldquo;This dorm should have been renovated twenty years ago. An alum came back who lived here in the 80s and said he had the same furniture.&rdquo;</p>
          <p class="quote-attr">Rebecca Lai, SESP sophomore</p>

					<p class="body-text quote">&ldquo;It's super close to all south classes, so you can roll out of bed at 8:53 and get to a 9 am class with a minute to breathe.&rdquo;</p>
          <p class="quote-attr">Sheng Wu, McCormick junior</p>

					<p class="body-text quote">&ldquo;Everyone here only hangs out with/parties with/talks to /sleeps with people here. It's also very nerdy and into things like video games, comic books, internet memes, etc.&rdquo;</p>
          <p class="quote-attr">Hilary Zhu, Superhuman</p>

					<p class="body-text quote">&ldquo;If you are fairly sarcastic, enjoy messing with people, internet memes, and don't necessarily need to party 24/7, CRC is a great dorm.&rdquo;</p>
          <p class="quote-attr">Dan Hill, Medill senior</p> -->

				</div>
			</div>
		</div>
		<div id="detail-sidebar-container" class="grid__item one-whole desk-one-quarter float-left">
			<div id="small-map">
			</div>
      <h3 class="padding-top display-desktop">Vital stats</h3>
        <div class="display-desktop">
          <div class="padding-top stats-item">
            <p class="body-text">{{dorm.campus_side}} campus</p>
            <p class="body-text"><span class="number">{{ dorm.dist_to_tech|floatformat }}</span> minute walk to Tech</p>
            <p class="body-text"><span class="number">{{ dorm.dist_to_norris|floatformat }}</span> minute walk to Norris</p>
            <p class="body-text"><span class="number">{{ dorm.dist_to_kresge|floatformat }}</span> minute walk to Kresge</p>
            <p class="body-text"><span class="number">{{ dorm.dist_to_bk|floatformat }}</span> minute walk to Burger King</p>
          </div>
          <div class="stats-item">
            <p class="body-text"><span class="number">{{dorm.doubles}}</span> doubles</p>
            <p class="body-text">+ <span class="number">{{dorm.singles}}</span> singles</p>
            <p class="body-text">+ <span class="number">{{dorm.triples}}</span> triples</p>
            <p id="sum" class="body-text"><span class="number">{{dorm.size}}</span> residents</p>
          </div>
          <div class="stats-item">
            {% if dorm.has_ac %}
              <p class="body-text">Air conditioning</p>
            {% endif %}
            {% if not dorm.has_ac %}
              <p class="body-text">No air conditioning</p>
            {% endif %}
            {% if dorm.dining %}
              <p class="body-text">Dining hall in building</p>
            {% endif %}
            <p class="body-text">{{ dorm.dorm_type }}</p>
            <p class="body-text">Room size: {{dorm.room_dimensions}}</p>
            <p class="body-text">$<span class="number">{{dorm.cost|floatformat}}</span> per quarter</p>
          </div>
        </div>
		</div>
	</div>



	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    <script src="{% static 'js/leaflet-providers.js' %}"></script>
    <script type="text/javascript">
      var geojson;
      var map = L.map('small-map').setView([42.05504447993239,-87.6753830909729], 16);
      L.tileLayer.provider('MapQuestOpen.OSM').addTo(map);
      $.getJSON('{% url "home" %}', function(data){
            parse_map_data(data);
        });
      function parse_map_data(data){
        $.each(data, function(key, val){
            geojson = new L.GeoJSON(val, {
              onEachFeature: onEachFeature
            }).addTo(map);
        });
    }
    function onEachFeature(feature, layer) {
        // does this feature have a property named popupContent?
        if (feature.properties && feature.properties.name) {
            layer.bindPopup(feature.properties.name);
        }
    }

    $('#video-tab').click(function() {
      $('#embed-container').append('<iframe src="http://player.vimeo.com/video/65669594" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>');
      $('#media-container img').css('display', 'none');
      $('#video-tab').css('background', '#381F5E');
      $('#photo-tab').css('background', '#c3bccf');
      $('#embed-container').css('display','block');
    });

    $('#photo-tab').click(function() {
      $('#embed-container').hide();
      $('#media-container img').css('display', 'block');
      $('#photo-tab').css('background', '#381F5E');
      $('#video-tab').css('background', '#c3bccf');
    });
    </script>
{% endblock %}
