{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
	<div id="header">
		<h1><span class="smaller">The </span>Housing Guide</h1>
		<div class="grid">
			<div class="grid__item one-whole desk-two-thirds float-left">
				<p class="body-text intro">Your first college dorm can be a taste of freedom and a great community, but it can also be daunting. Use the filters to see which dorms work for you, then click a dorm name to see video, photos and more.</p>
			</div><!--
		 --><div class="grid__item one-whole desk-one-third no-padding">
				<div id="search-container">
					<label for="searchbox"><span class="delta">Search</span><span class="epsilon"> by dorm name</span></label>
					<input id="searchbox" type="text" data-provide="typeahead" autocomplete="off">
				</div>
			</div>
		</div>
	</div>

	<div class="grid clear border-bottom">

		<div id="filter-container" class="grid__item one-whole desk-one-fifth padded">
			<h4>Filter <a href="#about-filters"><span class="epsilon">or read more</span></a></h4>
      <h4 class="clear-filter"><a><span class="epsilon">(clear filter)</span></a></h4>
			<div class="grid">
				<div class="grid__item one-whole lap-one-fifth">
					<ul>
						<li>
							<input type="radio" name="side" class="filter" id="north-filter">
							<label class="body-text" class="body-text" for="north-filter">North Campus</label>
						</li>
						<li>
							<input type="radio" name="side" class="filter" id="south-filter">
							<label class="body-text" for="south-filter">South Campus</label>
						</li>
					</ul>
				</div><!--
			 --><div class="grid__item one-whole lap-one-fifth">
					<ul>
						<li>
							<input type="radio" name="type" class="filter" id="rescol-filter">
							<label class="body-text" for="rescol-filter">Res College</label>
						</li>
						<li>
							<input type="radio" name="type" class="filter" id="rescomm-filter">
							<label class="body-text" for="rescomm-filter">Res Community</label>
						</li>
						<li>
							<input type="radio" name="type" class="filter" id="reshall-filter">
							<label class="body-text" for="reshall-filter">Res Hall</label>
						</li>
					</ul>
				</div><!--
			 --><div class="grid__item one-whole lap-one-fifth">
					<ul>
						<li>
							<input type="radio" name="size" class="filter" id="small-filter">
							<label class="body-text" for="small-filter">Small</label>
						</li>
						<li>
							<input type="radio" name="size" class="filter" id="med-filter">
							<label class="body-text" for="med-filter">Medium</label>
						</li>
						<li>
							<input type="radio" name="size" class="filter" id="large-filter">
							<label class="body-text" for="large-filter">Large</label>
						</li>
					</ul>
				</div><!--
			 --><div class="grid__item one-whole lap-one-fifth">
					<ul>
						<li>
							<input type="checkbox" class="filter" id="ac-filter">
							<label class="body-text" for="ac-filter">Has A.C.</label>
						</li>
						<li>
							<input type="checkbox" class="filter" id="dining-filter">
							<label class="body-text" for="dining-filter">Has dining hall</label>
						</li>
					</ul>
				</div><!--
			 --><div class="grid__item one-whole lap-one-fifth">
					<ul>
						<li>
							<input type="checkbox" class="filter" id="freshmen-filter">
							<label class="body-text" for="freshmen-filter">Freshmen only</label>
						</li>
						<li>
							<input type="checkbox" class="filter" id="female-filter">
							<label class="body-text" for="female-filter">Female only</label>
						</li>
						<li>
							<input type="checkbox" class="filter" id="opengender-filter">
							<label class="body-text" for="opengender-filter">Open gender</label>
						</li>
					</ul>
				</div>
			</div>
      <div id="temp">
      </div>
		</div><!-- End filter grid item

	 --><div id="explore-container" class="grid__item one-whole desk-four-fifths">

	 		<div class="grid">

			 	<div id="map-container" class="grid__item one-whole lap-and-up-one-half padding-top">
					<h4>Explore</h4>
					<div id="map">
					</div>
				</div><!-- End map grid item

			 --><div id="table-container" class="grid__item one-whole lap-and-up-one-half padding-top">

					<table>
						<thead>
							<tr>
								<td>Hall</td>
								<td>Residents</td>
								<td>Type</td>
							</tr>
						</thead>
						<tbody>
						{% for dorm in dorms %}
							<tr>
								<td><p class="body-text dorm-name"><a href="{% url 'guide.views.detail' dorm_slug=dorm.slug %}">{{ dorm.short_name }}</a></p></td>
								<td><p class="body-text">{{ dorm.size }}</p></td>
								<td><p class="body-text">{{ dorm.dorm_type }}</p></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<div id="legend-container">
						<div id="legend">
							<div class="dot perfect-fit"></div>
							<p class="body-text float-left">Perfect</p>
							<div class="dot good-fit"></div>
							<p class="body-text float-left">Meh</p>
							<div class="dot bad-fit"></div>
							<p class="body-text float-left">Not your type</p>
						</div>
					</div>
				</div><!-- End table grid item -->
			</div><!-- End explore grid item -->

		</div><!-- End nested grid container -->

	</div><!-- End grid container -->

	<!-- TEASERS -->
	<h3 class="padding-top padding-left">Related Stories</h3>
	<div id="teaser-container" class="grid padded border-bottom">
		<div class="teaser grid__item one-whole lap-and-up-one-third">
			<a href="http://www.northbynorthwestern.com/story/Where-did-dorm-trash-cans-go/">
				<img src="{% static 'img/graph.png' %}">
			</a>
			<a href="http://www.northbynorthwestern.com/story/explaining-on-and-off-campus-housing/">
				<h2 class="story-hed">Housing explainer</h2>
			</a>
			<p class="body-text">With this housing explainer, North by Northwestern has taken a perennial University issue, put it in context and found information you can always reference.</p>
		</div><!--
	 --><div class="teaser grid__item one-whole lap-and-up-one-third">
	 		<a href="http://www.northbynorthwestern.com/story/gender-open-housing-to-expand-for-2013/">
				<img src="{% static 'img/gender.jpg' %}">
			</a>
			<a href="http://www.northbynorthwestern.com/story/gender-open-housing-to-expand-for-2013/">
				<h2 class="story-hed">Gender Open Housing</h2>
			</a>
			<p class="body-text">Gender Open Housing, which has the capacity to house 144 students for the 2013-2014 academic year, the most yet, goes live May 2. </p>
		</div><!--
	 --><div class="teaser grid__item one-whole lap-and-up-one-third">
			<a href="http://www.northbynorthwestern.com/story/Where-did-dorm-trash-cans-go/">
				<img src="{% static 'img/trash.jpeg' %}">
			</a>
			<a href="http://www.northbynorthwestern.com/story/Where-did-dorm-trash-cans-go/">
				<h2 class="story-hed">Where did dorm trash cans go?</h2>
			</a>
			<p class="body-text">The removal of trash cans and implementation of new Trash & Recycling Centers in Allison have sparked dorm tension. </p>
		</div>
	</div>

	<a id="about-filters"><h3 class="padding-top padding-left">About the filters</h3></a>
	<div class="grid padded">
		<div class="filter-exp grid__item one-whole lap-and-up-one-third">
			<h2>North and South Campus</h2>
			<p class="body-text">North campus and south campus blah blah blah</p>
		</div><!--
	 --><div class="filter-exp grid__item one-whole lap-and-up-one-third">
			<h2>What's a res college</h2>
			<p class="body-text">And what's a res hall? And a res college?</p>
		</div><!--
	 --><div class="filter-exp grid__item one-whole lap-and-up-one-third">
			<h2>Gender Open</h2>
			<p class="body-text">Short explanation and link (again) to open gender story</p>
		</div>
	</div>

	<div class="padded background-purple">
		<p class="credit">Design and development by Tyler Fisher, Hilary Fung, Dan Hill, KK Rebecca Lai, Sheng Wu and Katie Zhu</p>
		<p class="credit">Photography by TKTKTKTK</p>
		<p class="credit">Reporting by TKTKTKTK</p>
		<p class="credit">Data provided by Northwestern University Housing</p>
	</div>

	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    <script src="{% static 'js/leaflet-providers.js' %}"></script>
    <script type="text/javascript">
      var geojson;

      var defaultStyle = {'weight': '0', fillColor: '#381f5e', fillOpacity: '1'};
      var perfectStyle = {'weight': '0', fillColor: '#199e8d', fillOpacity: '1'};
      var mehStyle = {'weight': '.5', fillColor: '#e68c1a', fillOpacity: '.5', 'color' : 'black'};
      var notStyle = {'weight': '0', fillColor: '#cd2a2b', fillOpacity: '.5'};

      jsonLayers = []; // will store each json layer as it is added to map to change later

      var map = L.map('map', {
      	minZoom: 14,
      	maxZoom: 18,
      	maxBounds: [
      		[42.07095890994855, -87.65922546386719],
      		[42.039094188385945, -87.69158363342285]
      	]
      }).setView([42.05504447993239,-87.6753830909729], 15);
      L.tileLayer.provider('MapQuestOpen.OSM').addTo(map);
      $.getJSON('{% url "get_shapes" %}', function(data){
            parse_map_data(data);
        });
      function parse_map_data(data){
        $.each(data, function(key, val){
            geojson = new L.GeoJSON(val, {
              onEachFeature: onEachFeature,
              style: function(feature) {
              	return defaultStyle;
              }
            }).addTo(map);
            jsonLayers.push({name: val.properties.name, value: geojson}); // jsonLayers[].value.setStyle() to change style
        });
    }
    function onEachFeature(feature, layer) {
        // does this feature have a property named popupContent?
        if (feature.properties && feature.properties.name) {
            layer.bindPopup(feature.properties.name);
        }
    }

    // dorm data
    var dorms = {
        {% for dorm in dorms %}
        "{{ dorm.short_name }}":
        {
            {% if dorm.dorm_type == "Residence Hall" %}
            'reshall': true,
            {% else %}
            'reshall': false,
            {% endif %}
            {% if dorm.dorm_type == "Residential College" %}
            'rescol': true,
            {% else %}
            'rescol': false,
            {% endif %}
            {% if dorm.dorm_type == "Residential Community" %}
            'rescomm': true,
            {% else %}
            'rescomm': false,
            {% endif %}
            {% if dorm.campus_side == "North" %}
            'north': true,
            'south': false,
            {% else %}
            'north': false,
            'south': true,
            {% endif %}
            {% if dorm.size <= 100 %}
            'small': true,
            'med': false,
            'large': false,
            {% endif %}
            {% if dorm.size > 100 and dorm.size <= 200 %}
            'small': false,
            'med': true,
            'large': false,
            {% endif %}
            {% if dorm.size > 200 %}
            'small': false,
            'med': false,
            'large': true,
            {% endif %}
            'ac': {{ dorm.has_ac|lower }},
            'dining': {{ dorm.dining|lower }},
            'freshmen': {{ dorm.freshmen_only|lower }},
            'female': {{ dorm.female_only|lower }},
            'opengender': {{ dorm.open_gender|lower }}
        },
        {% endfor %}
    };

    // return true if any property of an object is true
    var count = function(obj) {
        var num = 0;
        for (var prop in obj) {
            if (obj[prop]) {
                num += 1;
            }
        }
        return num;
    };

    // sort table of dorms
    var compareDorms = function(a, b) {
        return $(a).find('.dorm-name').text() < $(b).find('.dorm-name').text()? -1 : 1;
    }
    var sortTable = function() {
        // alphabetize
        var rows = $.makeArray($('tr:has(.dorm-name)').remove());
        rows.sort(compareDorms);
        $('tbody').append($(rows));
        $('.dorm-name.bad-fit').parent().parent().prependTo($('tbody'));
        $('.dorm-name.good-fit').parent().parent().prependTo($('tbody'));
        $('.dorm-name.perfect-fit').parent().parent().prependTo($('tbody'));
    }

    // interactive filtering
    var selections = {};
    var numCriteria = $('.filter').length;

    $('.filter').change(function() { 
        // update selections
        $('.filter').map(function(i, elem) {
            selections[$(elem).attr('id').split('-')[0]] = elem.checked;
        });

        var numSelected = count(selections);
        if (numSelected) {
            // at least one is selected; display filter criteria
            if ($('.dot').length < 4) {
                // add dots
                $('.dorm-name').prepend('<div class="dot"></div>');
            }

            // update fits
            $('.dorm-name').removeClass('perfect-fit good-fit bad-fit');
            $('.dorm-name').each(function(i, elem) {
                var name = $(elem).text();

                // count number of criteria that match
                var matchCount = 0;
                var disagreements = 0;
                for (var prop in selections) {
                    if (selections[prop] && dorms[name][prop]) {
                        matchCount += 1;
                    }
                    if (selections[prop] && !dorms[name][prop]) {
                        disagreements += 1;
                    }
                }
                if (matchCount == numSelected) {
                    $(elem).addClass('perfect-fit');
                } else if (disagreements <= (.6 * numSelected)) {
                    $(elem).addClass('good-fit');
                } else {
                    $(elem).addClass('bad-fit');
                }
            });

            // sort
            sortTable();
        } else {
            // nothing is selected; remove dots and exit
            $('.dorm-name').children('.dot').remove();
            sortTable();
            return;
        }
    });

    // clear filter button
    $('.clear-filter').click(function() {
        $('.filter').removeAttr('checked');
        $('.dorm-name').children('.dot').remove();
        $('.dorm-name').removeClass('perfect-fit good-fit bad-fit');
        sortTable();
    });
    </script>
    {% endblock %}
