{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
	<div id="header">
		<h1><span class="smaller">The </span>Housing Guide</h1>
		<div class="grid">
			<div class="grid__item one-whole desk-two-thirds float-left">
				<p class="body-text intro">Your first college dorm can be a taste of freedom and a great community, but it can also be daunting. Use the filters to see which dorms work for you, then click a dorm name to see video, photos and more.</p>
			</div><!--
		 --><div class="grid__item one-whole desk-one-third no-padding">
				<div id="search-container">
					<label for="searchbox"><span class="delta">Search</span><span class="epsilon"> by dorm name</span></label>
					<input id="searchbox" type="text" data-provide="typeahead" autocomplete="off">
				</div>
			</div>
		</div>
	</div>

	<div class="grid clear border-bottom">

		<div id="filter-container" class="grid__item one-whole desk-one-fifth padded">
			<h4>Filter<a href="#about-filters"><span class="epsilon"> or read more</span></a></h4>
			<div class="grid">
				<div class="grid__item one-whole lap-one-fifth">
					<ul>
						<li>
							<input type="checkbox" id="north-filter">
							<label class="body-text" class="body-text" for="north-filter">North Campus</label>
						</li>
						<li>
							<input type="checkbox" id="south-filter">
							<label class="body-text" for="south-filter">South Campus</label>
						</li>
					</ul>
				</div><!--
			 --><div class="grid__item one-whole lap-one-fifth">
					<ul>
						<li>
							<input type="checkbox" id="ac-filter">
							<label class="body-text" for="ac-filter">Has A.C.</label>
						</li>
						<li>
							<input type="checkbox" id="dining-filter">
							<label class="body-text" for="dining-filter">Has dining hall</label>
						</li>
					</ul>
				</div><!--
			 --><div class="grid__item one-whole lap-one-fifth">
					<ul>
						<li>
							<input type="checkbox" id="rescol-filter">
							<label class="body-text" for="rescol-filter">Res College</label>
						</li>
						<li>
							<input type="checkbox" id="rescol-filter">
							<label class="body-text" for="rescol-filter">Res Community</label>
						</li>
						<li>
							<input type="checkbox" id="rescol-filter">
							<label class="body-text" for="rescol-filter">Res Hall</label>
						</li>
						<li>
							<input type="checkbox" id="freshmen-filter">
							<label class="body-text" for="freshmen-filter">Freshmen only</label>
						</li>
					</ul>
				</div><!--
			 --><div class="grid__item one-whole lap-one-fifth">
					<ul>
						<li>
							<input type="checkbox" id="small-filter">
							<label class="body-text" for="small-filter">Small</label>
						</li>
						<li>
							<input type="checkbox" id="med-filter">
							<label class="body-text" for="med-filter">Medium</label>
						</li>
						<li>
							<input type="checkbox" id="large-filter">
							<label class="body-text" for="large-filter">Large</label>
						</li>
					</ul>
				</div><!--
			 --><div class="grid__item one-whole lap-one-fifth">
					<ul>
						<li>
							<input type="checkbox" id="male-filter">
							<label class="body-text" for="male-filter">Male only</label>
						</li>
						<li>
							<input type="checkbox" id="female-filter">
							<label class="body-text" for="female-filter">Female only</label>
						</li>
						<li>
							<input type="checkbox" id="opengender-filter">
							<label class="body-text" for="opengender-filter">Open gender</label>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- End filter grid item

	 --><div id="explore-container" class="grid__item one-whole desk-four-fifths">
	 		
	 		<div class="grid">

			 	<div id="map-container" class="grid__item one-whole lap-and-up-one-half padding-top">
					<h4>Explore</h4>
					<div id="map">
					</div>
				</div><!-- End map grid item

			 --><div id="table-container" class="grid__item one-whole lap-and-up-one-half padding-top">

					<table>
						<thead>
							<tr>
								<td>Hall</td>
								<td>Residents</td>
								<td>Type</td>
							</tr>
						</thead>
						<tbody>
					<!--{% for dorm in dorms %}
							<tr>
								<td><p class="body-text">{{ dorm.name }}</p></td>
								<td><p class="body-text">{{ dorm.size }}</p></td>
								<td><p class="body-text">{{ dorm.dorm_type }}</p></td>
							</tr>
						{% endfor %}-->
							<tr>
								<td><div class="dot perfect-fit"></div><p class="body-text">1835 Hinman</td>
								<td><p class="body-text">100</td>
								<td><p class="body-text">Hall</td>
							</tr>
							<tr>
								<td><div class="dot perfect-fit"></div><p class="body-text">Allison</td>
								<td><p class="body-text">300</td>
								<td><p class="body-text">Community</td>
							</tr>
							<tr>
								<td><div class="dot perfect-fit"></div><p class="body-text">Ayers</td>
								<td><p class="body-text">88</td>
								<td><p class="body-text">College</td>
							</tr>
							<tr>
								<td><div class="dot perfect-fit"></div><p class="body-text">Bobb</p></td>
								<td><p class="body-text">50</p></td>
								<td><p class="body-text">Hall</p></td>
							</tr>
							<tr>
								<td><div class="dot good-fit"></div><p class="body-text">Chapin</p></td>
								<td><p class="body-text">7</p></td>
								<td><p class="body-text">College</p></td>
							</tr>
							<tr>
								<td><div class="dot good-fit"></div><p class="body-text">College of Cultural & Community Studies</p></td>
								<td><p class="body-text">50</p></td>
								<td><p class="body-text">College</p></td>
							</tr>
							<tr>
								<td><div class="dot good-fit"></div><p class="body-text">GREEN house</p></td>
								<td><p class="body-text">50</p></td>
								<td><p class="body-text">College</p></td>
							</tr>
							<tr>
								<td><div class="dot bad-fit"></div><p class="body-text">Communications Residential College</p></td>
								<td><p class="body-text">28</p></td>
								<td><p class="body-text">College</p></td>
							</tr>
							<tr>
								<td><div class="dot bad-fit"></div><p class="body-text">Elder</p></td>
								<td><p class="body-text">245</p></td>
								<td><p class="body-text">Community</p></td>
							</tr>
							<tr>
								<td><div class="dot bad-fit"></div><p class="body-text">Hobart</p></td>
								<td><p class="body-text">59</p></td>
								<td><p class="body-text">College</p></td>
							</tr>
							<tr>
								<td><div class="dot bad-fit"></div><p class="body-text">Interfaith</p></td>
								<td><p class="body-text">10</p></td>
								<td><p class="body-text">College</p></td>
							</tr>
							<tr>
								<td><div class="dot bad-fit"></div><p class="body-text">International Studies Residential College</p></td>
								<td><p class="body-text">88</p></td>
								<td><p class="body-text">College</p></td>
							</tr>
							<tr>
								<td><div class="dot bad-fit"></div><p class="body-text">Jones</p></td>
								<td><p class="body-text">59</p></td>
								<td><p class="body-text">College</p></td>
							</tr>
							<tr>
								<td><div class="dot bad-fit"></div><p class="body-text">NMQ</p></td>
								<td><p class="body-text">20</p></td>
								<td><p class="body-text">Hall</p></td>
							</tr>
							<tr>
								<td><div class="dot bad-fit"></div><p class="body-text">PARC</p></td>
								<td><p class="body-text">99</p></td>
								<td><p class="body-text">College</p></td>
							</tr>
							<tr>
								<td><div class="dot bad-fit"></div><p class="body-text">Rogers</p></td>
								<td><p class="body-text">25</p></td>
								<td><p class="body-text">Hall</p></td>
							</tr>
							<tr>
								<td><div class="dot bad-fit"></div><p class="body-text">Sargent</p></td>
								<td><p class="body-text">137</p></td>
								<td><p class="body-text">Hall</p></td>
							</tr>
							<tr>
								<td><div class="dot bad-fit"></div><p class="body-text">Shepard</p></td>
								<td><p class="body-text">22</p></td>
								<td><p class="body-text">College</p></td>
							</tr>
							<tr>
								<td><div class="dot bad-fit"></div><p class="body-text">Slivka</p></td>
								<td><p class="body-text">62</p></td>
								<td><p class="body-text">College</p></td>
							</tr>
							<tr>
								<td><div class="dot bad-fit"></div><p class="body-text">SMQ</p></td>
								<td><p class="body-text">84</p></td>
								<td><p class="body-text">Hall</p></td>
							</tr>
							<tr>
								<td><div class="dot bad-fit"></div><p class="body-text">Willard</p></td>
								<td><p class="body-text">33</p></td>
								<td><p class="body-text">College</p></td>
							</tr>
						</tbody>
					</table>
					<div id="legend">
						<div class="dot perfect-fit"></div>
						<p class="body-text float-left">Perfect</p>
						<div class="dot good-fit"></div>
						<p class="body-text float-left">Meh</p>
						<div class="dot bad-fit"></div>
						<p class="body-text float-left">Not your type</p>
					</div>
				</div><!-- End table grid item -->
			</div><!-- End explore grid item -->
		
		</div><!-- End nested grid container -->

	</div><!-- End grid container -->

	<!-- TEASERS -->
	<h3 class="padding-top padding-left">Related Stories</h3>
	<div id="teaser-container" class="grid padded border-bottom">
		<div class="teaser grid__item one-whole lap-and-up-one-third">
			<a href="http://www.northbynorthwestern.com/story/Where-did-dorm-trash-cans-go/">
				<img src="{% static 'img/graph.png' %}">
			</a>
			<a href="http://www.northbynorthwestern.com/story/explaining-on-and-off-campus-housing/">
				<h2 class="story-hed">Housing explainer</h2>
			</a>
			<p class="body-text">With this housing explainer, North by Northwestern has taken a perennial University issue, put it in context and found information you can always reference.</p>
		</div><!--
	 --><div class="teaser grid__item one-whole lap-and-up-one-third">
	 		<a href="http://www.northbynorthwestern.com/story/gender-open-housing-to-expand-for-2013/">
				<img src="{% static 'img/gender.jpg' %}">
			</a>
			<a href="http://www.northbynorthwestern.com/story/gender-open-housing-to-expand-for-2013/">
				<h2 class="story-hed">Gender Open Housing</h2>
			</a>
			<p class="body-text">Gender Open Housing, which has the capacity to house 144 students for the 2013-2014 academic year, the most yet, goes live May 2. </p>
		</div><!--
	 --><div class="teaser grid__item one-whole lap-and-up-one-third">
			<a href="http://www.northbynorthwestern.com/story/Where-did-dorm-trash-cans-go/">
				<img src="{% static 'img/trash.jpeg' %}">
			</a>
			<a href="http://www.northbynorthwestern.com/story/Where-did-dorm-trash-cans-go/">
				<h2 class="story-hed">Where did dorm trash cans go?</h2>
			</a>
			<p class="body-text">The removal of trash cans and implementation of new Trash & Recycling Centers in Allison have sparked dorm tension. </p>
		</div>
	</div>

	<a id="about-filters"><h3 class="padding-top padding-left">About the filters</h3></a>
	<div id="filter-exp-container" class="grid padded">
		<div class="filter-exp grid__item one-whole lap-and-up-one-third">
			<h2>North and South Campus</h2>
			<p class="body-text">North campus and south campus blah blah blah</p>
		</div><!--
	 --><div class="filter-exp grid__item one-whole lap-and-up-one-third">
			<h2>What's a res college</h2>
			<p class="body-text">And what's a res hall? And a res college?</p>
		</div><!--
	 --><div class="filter-exp grid__item one-whole lap-and-up-one-third">
			<h2>Gender Open</h2>
			<p class="body-text">Short explanation and link (again) to open gender story</p>
		</div>
	</div>

	<div class="padded background-purple">
		<p class="credit">Design and development by Tyler Fisher, Hilary Fung, Dan Hill, KK Rebecca Lai, Sheng Wu and Katie Zhu</p>
		<p class="credit">Photography by TKTKTKTK</p>
		<p class="credit">Reporting by TKTKTKTK</p>
		<p class="credit">Data provided by Northwestern University Housing</p>
	</div>

	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    <script src="{% static 'js/leaflet-providers.js' %}"></script>
    <script type="text/javascript">
      var geojson;
      var map = L.map('map', {
      	minZoom: 14,
      	maxZoom: 18,
      	maxBounds: [
      		[42.07095890994855, -87.65922546386719],
      		[42.039094188385945, -87.69158363342285]
      	]
      }).setView([42.05504447993239,-87.6753830909729], 15);
      L.tileLayer.provider('MapQuestOpen.OSM').addTo(map);
      $.getJSON('{% url "home" %}', function(data){
            parse_map_data(data);
        });
      function parse_map_data(data){
        $.each(data, function(key, val){
            geojson = new L.GeoJSON(val, {
              onEachFeature: onEachFeature,
              style: function(feature) {
              	return {'weight': '0', fillColor: '#268BD2', fillOpacity: '1'};
              }
            }).addTo(map);
        });
    }
    function onEachFeature(feature, layer) {
        // does this feature have a property named popupContent?
        if (feature.properties && feature.properties.name) {
            layer.bindPopup(feature.properties.name);
        }
    }
    </script>
    {% endblock %}
